/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #fff;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
iframe,
img,
svg {
  vertical-align: middle;
  max-width: 100%;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Roboto';
  background-color: #000;
}
a, a:visited {color: #c00;}
  header #mobile-logo a {
    display: block;
    width: 75vw;
    margin-right: 5vw;
  }
a:hover {color: #09c;}
  #mobile-logo {
    margin-bottom: 1em;
  }
nav {
  font-family: 'Anton', serif;
  text-transform: lowercase;
}
nav a, nav a:visited {
  text-decoration: none;
  color:#fff;
}
nav a:hover {
  color: #09c;
}
nav a:active, nav a.active {
  color: #c00;
  text-decoration: underline;
}
nav a.active {color: #f03}
body {
  text-align: center;
}
main ul {
  list-style-type: none;
  padding: 0;
}
aside {
  font-weight: 800;
  font-family: "Open Sans";
}
aside p {
  font-size: 5vw;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.2rem;
}
#yelp_link {
  background: url(../images/yelp_2.png) 0 0 no-repeat;
  display: block;
  max-width: 50%;
  background-size: contain;
  margin-right: -18px;
}
#yelp_link:hover img {
  opacity: 0;transition-duration: 500ms;
}
#social_area {
  display: flex;
  margin-top: 10px;
}
#social_area a {
  margin-left: 10px;
}
#social_area img {
  height: 25px;
}
#social_area a:first-child img {
  max-height: 23px;
}
#social_area a:nth-child(2) img {
  height: auto;
  max-height: 25px;
}
#social_area a:hover img {
  transform: translate(0, -5px);
  transition-duration: 250ms;
}
footer {}
footer address {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 5vw;
  font-family: 'Open Sans';
  letter-spacing: 0.02vw;
}
footer address a {
  white-space: nowrap;
  color:#fff;
}
footer ul {
  list-style-type: none;
  text-align: right;
  display: none;
}
footer li {
  display: inline;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
#wrapper {
    margin: 0 auto;
    text-align: left;
    background-color: #000;
    padding:10px;
  }
aside .logo {
  display: none;
}
@media only screen and (max-width: 970px) {
  #wrapper {
    max-width:calc(100vw - 10%);
  }

}
@media only screen and (min-width: 600px) {
  #wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: min-content 1fr min-content;
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
    border-color:#fff;
    border-style:solid;
    border-width: 0px 2px 2px 2px
  }
  header {
    margin-bottom: 18px
  }
  header #mobile-logo {
    display: none
  }
  nav + nav {display: none;}
  main {
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 0.81rem;
  }
  main img {
  max-width: 100%;
  }
  aside {
    grid-column-start:2;
    grid-row-start: span 2;
    text-align:right;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    flex-direction: column;
  }
  aside .logo {
    display: block;
    width: clamp(20vw, 100%, 318px);
    margin-bottom: 100px
  }
  aside p {
    font-size: 3vw
  }
  header {
    grid-column-end: 2;
  }
  footer {
    grid-column-start: span 2;
  }
  footer address {
    font-size: 1.5rem;
  }
  footer ul {
    display: block;
    font-size: 0.8rem;
  }
  footer ul li  {
    border-left: 1px solid white;
    padding-left: 1ex;
    margin-right: 0.8ex;
  }
  footer ul li:first-child {
    border: none
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {}*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background:#666;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 970px) {
  #wrapper {
    max-width:908px;
    padding:18px 24px;
  }
  aside p {
    font-size: 1.75rem
  }
  footer address {
    font-size: 1.75rem;
  }
}
