* { padding: 0; margin: 0; }
a img {border: none;}
hr {margin-bottom:8px;}
iframe {margin-bottom:8px;}
p {padding-bottom:8px;}
p.back_to_top {padding-top: 12px; padding-bottom: 0px; margin-bottom: 12px; text-transform: uppercase;}
ul.gallery {list-style:none; margin:0; padding:0;}
ul.gallery li {float:left; position: relative;}
li.gallery_row {width: 180px; padding-right: 5px;}
.fancybox-wrap { top: 50px !important;}